@import "./sass/base";
a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}
li {
  list-style: none;
}

p,
h1 {
  color: var(--text-color);
}
p {
  font-size: var(--p-fs);
  line-height: var(--p-lh);
}
h1 {
  font-size: var(--h1-fs);
  line-height: 1;
}
.section-header {
  font-size: var(--section-header-fs);
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.2rem;
}
.content {
  width: 65%;
  p {
    padding: 1rem 0;
  }
  .button-container {
    @extend %DisplayFlex;
    justify-content: flex-start;
    gap: 1rem;
    a {
      @extend %DisplayFlex;
      padding: 0.5rem 1rem;
      text-transform: capitalize;
      font-size: 0.9rem;
      i {
        margin-right: 5px;
        vertical-align: top;
      }
      span {
        display: inline-block;
        line-height: 1;
      }
    }
  }
}
.button-container {
  @extend %DisplayFlex;
  gap: 1.5rem;
  justify-content: flex-start;
  width: auto;
  margin: 1rem 0;
  a {
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    border-radius: 0.3rem;
    font-size: var(--btn-fs);
    i {
      color: var(--active-btn-color);
    }
    &.active-link {
      color: var(--active-btn-color);
      background-color: var(--active-btn-background-color);
      transition: background 0.3s ease;
      &:hover {
        background-color: var(--active-btn-background-hover-color);
      }
    }
    &.border-link {
      color: var(--active-btn-background-color);
      transition: color 0.3s ease;
      &:hover {
        color: var(--active-btn-background-hover-color);
      }
    }
  }
}
i {
  &.html-icon {
    color: #e34f26;
  }
  &.css-icon {
    color: #1572b6;
  }
  &.sass-icon {
    color: #cc6699;
  }
  &.javascript-icon {
    color: #f7df1e;
  }
  &.react-icon {
    color: #61dafb;
  }
  &.node-icon {
    color: #339933;
  }
  &.mongodb-icon {
    color: #47a248;
  }
  &.typescript-icon {
    color: #007acc;
  }
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}
.pt-100 {
  padding-top: 100px;
}
