@import url("./header/header.css");
@import url("./body/main.css");
@import url("./theme.css");
/* global styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

:root {
  --pry-50: #f2f4fd;
  --pry-100: #e3e7fb;
  --pry-200: #c1cef6;
  --pry-300: #8ba4ee;
  --pry-400: #4d75e3;
  --pry-500: #2654d1;
  --pry-600: #173bb2;
  --pry-700: #142f90;
  --pry-800: #152b77;
  --pry-900: #172763;
  --pry-950: #050816;
  --body-color: var(--pry-50);
  --header-color: var(--pry-500);
  --nav-link-text-color: var(--pry-50);
  --primary-color: orangered;
}
:root .dark-default {
  --body-color: #18181b;
  --header-color: var(--pry-950);
  --header-color: #18181b;
  --nav-link-colors: var(--pry-500);
  --border-color: #00cda7;
}

body {
  background-color: var(--body-color);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}