@import url("./header/header.css");
@import url("./main/main.css");
@import url("./theme.css");
/* global styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

:root {
  // all this colors are based on --pry-950: #050816;
  --pry-50: #f2f4fd;
  --pry-100: #e3e7fb;
  --pry-200: #c1cef6;
  --pry-300: #8ba4ee;
  --pry-400: #4d75e3;
  --pry-500: #2654d1;
  --pry-600: #173bb2;
  --pry-700: #142f90;
  --pry-800: #152b77;
  --pry-900: #172763;
  --pry-950: #050816;
  //other colors
  --body-color: var(--pry-50);
  --header-color: var(--pry-800);
  --nav-link-text-color: var(--pry-200);
  --nav-link-hover-text-color: var(--pry-50);
  --nav-link-active-text-color: var(--pry-50);

  .dark-default {
    --body-color: #18181b;
    --header-color: var(--pry-950);
    --header-color: #18181b;
    --nav-link-text-color: var(--pry-200);
    --nav-link-hover-text-color: var(--pry-300);
    --nav-link-active-text-color: var(--pry-300);
    --border-color: #00cda7;
  }
}
body {
  background-color: var(--body-color);
  font-family: "Poppins", sans-serif;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
