@import url("./header/header.css");
@import url("./main/main.css");
@import url("./theme.css");
@import url("./offcanvas/offcanvas.css");
@import url("./global.css");
/* global styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

:root {
  --offcanvas-index: 1002;
  --backdrop-index: 1001;
  --header-index: 1000;
  --pry-50: #f2f4fd;
  --pry-100: #e3e7fb;
  --pry-200: #c1cef6;
  --pry-300: #8ba4ee;
  --pry-400: #4d75e3;
  --pry-500: #2654d1;
  --pry-600: #173bb2;
  --pry-700: #142f90;
  --pry-800: #152b77;
  --pry-900: #172763;
  --pry-950: #050816;
  --primary-color: var(--pry-800);
  --body-color: var(--pry-50);
  --header-color: var(--pry-800);
  --nav-link-text-color: var(--pry-200);
  --nav-link-hover-text-color: var(--pry-50);
  --nav-link-active-text-color: var(--pry-50);
  --offcanvas-color: var(--header-color);
  --backdrop-color: var(--body-color);
  --text-color: var(--pry-950);
  --text-color-2: var(--pry-950);
  --active-btn-color: var(--pry-800);
  --offcanvas-title-color: var(--pry-100);
  --offcanvas-social-media-color: var(--pry-200);
  --nav-links-size: 1.1rem;
  --offcanvas-icon-size: 2rem;
  --offcanvas-title-size: 1rem;
  --offcanvas-social-media-size: 1.2rem;
  --h1-fs: 4rem;
  --h2-fs: 1.5rem;
  --p-fs: 1rem;
  --p-lh: 1.5rem;
  --btn-fs: 0.8rem;
}
:root .dark-default {
  --body-color: #18181b;
  --primary-color: var(--pry-300);
  --header-color: var(--pry-950);
  --header-color: #18181b;
  --nav-link-text-color: var(--pry-200);
  --nav-link-hover-text-color: var(--pry-300);
  --nav-link-active-text-color: var(--pry-300);
  --border-color: #00cda7;
  --offcanvas-color: var(--pry-950);
  --backdrop-color: var(--body-color);
  --text-color: var(--pry-50);
  --text-color-2: var(--pry-100);
  --active-btn-color: var(--pry-300);
}

body {
  background-color: var(--body-color);
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}