@import url("./header/header.css");
@import url("./body/main.css");
@import url("./theme.css");
/* global styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

:root {
  --body-color: white;
  .dark-default {
    --body-color: #050816;
    --text-color: #a7a3c0;
    --border-color: #00cda7;
    --container-color: #151030;
  }
}
body {
  background-color: var(--body-color);
}
body .container {
  padding: 0 5%;
}
