.theme-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  i {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--nav-link-text-color);
  }
  .light-theme-icon {
    display: none;
  }
  .dark-theme-icon {
    display: block;
  }
  &.dark {
    .light-theme-icon {
      display: block;
    }
    .dark-theme-icon {
      display: none;
    }
  }
}
