@import url(./logo.css);
@import url(./navigation.css);
@import url(./menu.css);

header {
  position: fixed;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: var(--header-color);
  padding: 3rem 0;
  overflow: hidden;
  z-index: var(--header-index);
  .navigation-with-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
