@import url(./navigation.css);
@import url(./logo.css);
header {
  position: fixed;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: var(--header-color);
  padding: 3rem 0;
}
header .navigation-with-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}