.menu-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu-icon {
  cursor: pointer;
  flex-direction: column;
  gap: 0.5rem;
}
.menu-icon p {
  cursor: pointer;
  width: 1.5rem;
  height: 2px;
  background-color: var(--nav-link-active-text-color);
}

@media (min-width: 600px) {
  .menu-icon {
    display: none;
  }
}