#about .about-me__content .profile-image, #about .about-me__content .content .button-container a, #about .about-me__content .content .button-container, #about .about-me__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#about {
  width: 100%;
  overflow: hidden;
}
#about .section-header {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.2rem;
}
#about .about-me__content {
  justify-content: space-between;
  gap: 2rem;
}
#about .about-me__content .content {
  width: 50%;
}
#about .about-me__content .content p {
  padding: 1rem 0;
}
#about .about-me__content .content .button-container {
  justify-content: flex-start;
  gap: 1rem;
}
#about .about-me__content .content .button-container a {
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  font-size: 0.9rem;
}
#about .about-me__content .content .button-container a i {
  margin-right: 5px;
  vertical-align: top;
}
#about .about-me__content .content .button-container a span {
  display: inline-block;
  line-height: 1;
}
#about .about-me__content .profile-image {
  width: 50%;
}
#about .about-me__content .profile-image .image {
  max-height: 300px;
  max-width: 300px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 5px -5px 15px var(--primary-color);
}
#about .about-me__content .profile-image .image img {
  max-width: 100%;
  object-fit: cover;
}