#about .about-me__content .profile-image, #about .about-me__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#about {
  width: 100%;
  overflow: hidden;
}
#about .about-me__content {
  justify-content: space-between;
  gap: 2rem;
}
#about .about-me__content .content p {
  width: 100%;
}
#about .about-me__content .profile-image {
  width: 50%;
}
#about .about-me__content .profile-image .image {
  max-height: 300px;
  max-width: 300px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 5px -5px 15px var(--primary-color);
}
#about .about-me__content .profile-image .image img {
  max-width: 100%;
  object-fit: cover;
}