@import "../sass/base";
#about {
  width: 100%;
  overflow: hidden;
  .section-header {
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-underline-offset: 1rem;
    text-decoration-thickness: 0.2rem;
  }
  .about-me__content {
    @extend %DisplayFlex;
    justify-content: space-between;
    gap: 2rem;
    .content {
      width: 50%;
      p {
        padding: 1rem 0;
      }
      .button-container {
        @extend %DisplayFlex;
        justify-content: flex-start;
        gap: 1rem;
        a {
          @extend %DisplayFlex;
          padding: 0.5rem 1rem;
          text-transform: capitalize;
          font-size: 0.9rem;
          i {
            margin-right: 5px;
            vertical-align: top;
          }
          span {
            display: inline-block;
            line-height: 1;
          }
        }
      }
    }
    .profile-image {
      @extend %DisplayFlex;
      width: 50%;
      .image {
        max-height: 300px;
        max-width: 300px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 5px -5px 15px var(--primary-color);
        img {
          max-width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
