#home {
  width: 65%;
}
#home p.welcome-message {
  color: var(--primary-color);
  font-weight: bold;
}
#home .content {
  width: 80%;
}
#home .content p {
  width: 100%;
}
#home h1 {
  padding: 1rem 0;
  font-weight: bolder;
}
#home h1 span.name {
  color: var(--primary-color);
}
#home .button-container a {
  padding: 0.5rem 0;
  width: 10rem;
  border: 1.5px solid transparent;
}
#home .button-container a.border-link {
  border: 1.5px solid var(--active-btn-background-color);
  color: var(--text-color-2);
}
#home .button-container a.border-link:hover {
  border: 1.5px solid var(--active-btn-background-hover-color);
}