@import "../sass/_base.scss";
#home {
  width: 65%;
  p {
    &.welcome-message {
      color: var(--primary-color);
      font-weight: bold;
    }
  }
  .content {
    width: 80%;
    p {
      width: 100%;
    }
  }
  h1 {
    padding: 1rem 0;
    font-weight: bolder;
    span.name {
      color: var(--primary-color);
    }
  }
  .button-container {
    a {
      padding: 0.5rem 0;
      width: 10rem;
      border: 1.5px solid transparent;
      &.border-link {
        border: 1.5px solid var(--active-btn-background-color);
        color: var(--text-color-2);
        &:hover {
          border: 1.5px solid var(--active-btn-background-hover-color);
        }
      }
    }
  }
}
