#project .projects-container .project .link-container, #project .projects-container .project .project-details_technologies .technology, #project .projects-container .project .project-details_technologies, #project .projects-container .project, #project .projects-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#project .projects-container {
  padding: 50px 0;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: hidden;
  gap: 1.5rem;
}
#project .projects-container .project {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 23rem;
  overflow: hidden;
  background-color: var(--project-background-color);
  border: 2px solid var(--project-background-color);
  border-radius: 0.5rem;
}
#project .projects-container .project .thumbnail-container {
  overflow: hidden;
}
#project .projects-container .project .thumbnail-container img {
  object-fit: cover;
  width: 100%;
}
#project .projects-container .project .project-details {
  padding: 1rem;
  overflow: hidden;
}
#project .projects-container .project .project-details_name {
  color: var(--text-color);
  padding: 0.5rem 0;
}
#project .projects-container .project .project-details_description {
  font-size: 0.9rem;
  line-height: 1.35rem;
  padding: 0.5rem 0;
  color: var(--text-color-2);
  overflow: hidden;
}
#project .projects-container .project .project-details_technologies {
  padding: 0.5rem 0;
  justify-content: flex-start;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 1rem;
}
#project .projects-container .project .project-details_technologies .technology {
  justify-content: flex-start;
  border-radius: 0.3rem;
  gap: 0.3rem;
}
#project .projects-container .project .project-details_technologies .technology i {
  font-size: 1.1rem;
}
#project .projects-container .project .project-details_technologies .technology p {
  font-size: 0.8rem;
  color: var(--text-color);
  padding: 0;
}
#project .projects-container .project .project-details_technologies .technology img {
  height: 15px;
  margin-top: -0.1rem;
}
#project .projects-container .project .project-details_technologies .technology img.type-1 {
  width: 100px;
  object-fit: cover;
}
#project .projects-container .project .link-container {
  align-self: flex-end;
  padding: 1rem;
  gap: 1.5rem;
}
#project .projects-container .project .link-container a:hover i {
  color: var(--primary-color);
  transition: all 0.3s ease;
  scale: 1.2;
}
#project .projects-container .project .link-container a i {
  font-size: 1.3rem;
  color: var(--text-color);
  transition: all 0.3s ease;
  scale: 1;
}